extends ../../components/Terminal/pageTerminal/pageTerminal.pug

block pageSettings
	-
		var dialogItem = {
			text: 'Подготовка аппарата к осмотру',
			type: 'processing'
		}
		var progressBarItem = {size:'50%'};
block pageContent
	.content
		include ../../components/Terminal/progressBar/progressBar.pug
		include ../../components/Terminal/dialog/dialog.pug