extends ../../components/Terminal/pageTerminal/pageTerminal.pug

block pageSettings
	-
		var dialogItem = {
			img: 'img-doctor',
			title:'Пройдите к врачу',
			text: 'Вы указали, что у Вас имеются<br/>жалобы на здоровье.',
			type: 'info'
		}
		var progressBarItem = {size:'50%'};

block pageContent
	.content
		include ../../components/Terminal/progressBar/progressBar.pug
		include ../../components/Terminal/dialog/dialog.pug