block historySettings
	-
		var tableLabels = [
			'Терминал',
			'Дата',
			'Начало осмотра',
			'Окончание осмотра',
			'ФИО врача',
			'Итог',
			'Cтатус',
			'' //button
		]
		var tableValues = [
			[ '238KI8', '16.01.2020', '08:00', '08:05', 'Климова Ольга Васильевна', 'Повышена температура', 'passed', '' ],
			[ '238KI8', '21.01.2020', '08:00', '08:05', 'Петрова Ольга Васильевна', 'Повышена температура', 'failed', '' ],
			[ '238KI8', '12.01.2020', '08:20', '08:05', 'Иванова Ольга Васильевна', 'Повышена температура', 'passed', '' ],
			[ '238KI8', '16.01.2020', '08:10', '08:05', 'Сидорова Ольга Васильевна', 'Повышена температура', 'failed', '' ],
			[ '238KI8', '16.01.2020', '08:45', '08:05', 'Климова Ольга Васильевна', 'Повышена температура', 'passed', '' ],
			[ '238KI8', '24.01.2020', '08:00', '08:05', 'Николаенко Ольга Васильевна', 'Повышена температура', 'failed', '' ],
			[ '238KI8', '16.01.2020', '08:00', '08:05', 'Архангельская Ольга Васильевна', 'Повышена температура', 'passed', '' ],
			[ '238KI8', '05.01.2020', '08:03', '08:05', 'Никонорова Ольга Васильевна', 'Повышена температура', 'failed', '' ],
			[ '238KI8', '16.01.2020', '08:09', '08:05', 'Васильченко Ольга Васильевна', 'Повышена температура', 'passed', '' ],
			[ '238KI8', '08.01.2020', '08:00', '08:05', 'Дмитриева Ольга Васильевна', 'Повышена температура', 'failed', '' ],
			[ '238KI8', '08.01.2020', '08:00', '08:05', 'Путин Ольга Васильевна', 'Повышена температура', 'failed', '' ],
			[ '238KI8', '08.01.2020', '08:00', '08:05', 'Медведев Ольга Васильевна', 'Повышена температура', 'failed', '' ]
		]
		var tableItem = {
			id: 'history_table'
		}
	

include ../../Desktop/table/table