.queue__checkup-sign
	.btn-group
		- var buttonArr = {text: 'Подписать', style:'flat-green', type: 'button'}
			include ../../UI/button/button
		- var buttonArr = {text: 'Следующий', style:'flat-red', type: 'button'}
			include ../../UI/button/button
	.pagination <span>5</span> из 20
