- var documentItem = {anchor: '#', text:'Направление по АГ'};
include ../../Desktop/document/document

- var documentItem = {anchor: '#', text:'Протокол контроля трезвости водителя автотранспортного средства'};
include ../../Desktop/document/document

- var documentItem = {anchor: '#', text:'Направление водителя в медицинское учреждение на установление факта употребления наркотических веществ'};
include ../../Desktop/document/document

- var documentItem = {anchor: '#', text:'Справка'};
include ../../Desktop/document/document