.queue__header
	- var stateItem = {type: 'terminal', label:'Терминал', value: '238KIO'}
		include ../state/state
	- var stateItem = {type: 'date', label:'Дата', value: '20.01.20'}
		include ../state/state
	- var stateItem = {type: 'work-begin', label:'Начало', value: '08:00'}
		include ../state/state
	- var stateItem = {type: 'work-finish', label:'Окончание', value: '08:07'}
		include ../state/state
