block queueVideoSettings
	//- 
		var userpicItem = {src: '../assets/images/temp/userpic.jpg'};


//div= JSON.stringify(scanResAccess)
.queue__video
	.video__col
		.video__player
	.video__col
		.video__item
			.video__title Видео с камеры 1
			.video__player.video__player_size_sm
				
		.video__item
			.video__title Видео с камеры 2
			.video__player.video__player_size_sm
				
		.video__item
			.video__title Видео с камеры 3
			.video__player.video__player_size_sm
				
				