block headerSettings
	-var user = {name: 'Смирнова Н.В.', role: 'Дежурный врач', img: '../assets/images/temp/userpic.jpg'}

header(class="header")
	include ../hamburger/hamburger
	include ../userDropdown/userDropdown

