.checkup {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	&__result {
		width:350px;
		text-align: left;
		margin-right: 90px;
	}

	&__signature {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		&-box {
			flex-grow: 1;
			width: 100%;
			border-radius: 6px;
			border: solid 2px rgba(48, 48, 48, 0.5);
			position: relative;
			margin-bottom: 28px;
			&:before {
				content:'Поле для подписи';
				position: absolute;
				top: -10px;
				left: 26px;
				padding: 0 6px;
				background-color: #fff;
				font-size: 30px;
				line-height: 0.8;
				letter-spacing: 0.28px;
				color: rgba(48, 48, 48, 0.7);
			}
		}
	}
}