/* Palette */
$color-white			: #fff;

$color-lightgray01		: rgba(11, 43, 92, 0.02);
$color-lightgray02		: rgba(11, 43, 92, 0.4);
$color-lightgray03		: #ecf0f6;
$color-lightgray04		: rgba(11, 43, 92, 0.06);
$color-lightgray05		: rgba(11, 43, 92, 0.03);
$color-lightgray06		: rgba(25, 42, 70, 0.16);

$color-gray01			: #828d99;
$color-darkgray01		: #303030;

$color-blue01			: #11448f;
$color-blue02			: #0b2b5c;
$color-blue03			: #475f7b;
$color-blue04			: #275599;

$color-green			: #22be76;
$color-green02			: #38c483;
$color-red				: #ff1146;
$color-red02			: #fe2757;
$color-yellow			: #ffc408;

$color_green_light		:#e4f7ee;
$color_red_light		:#ffe7ed;
