extends ../../components/UI/page/page.pug

block headStyles
	link(href="../Desktop/styles.css", rel="stylesheet")


block pageContent
	.content
		h1 Datepicker
		br
		br
		.table__filter
			.table__filter-period-input.form
				- var inputArr = {label:false, placeholder:'Дата / Период', type:'text', id:'period', icon:'ic-calendar', readonly: true}
				include ../../components/UI/input/input
			.datepicker__wrapper#dp_wrapper
				.datepicker__filter
					.datepicker__switcher#dp_switcher
						.datepicker__switcher__item
							input(type='radio', name='dt_period', id='dt_period0', value='0', checked='checked')
							label(for="dt_period0") День
						.datepicker__switcher__item
							input(type='radio', name='dt_period', id='dt_period1', value='1')
							label(for="dt_period1") Период
					.datepicker__inputs
						.datepicker__inputs-item
							- var inputArr = {label:false, placeholder:'', type:'text', id:'datepicker_day', icon:'ic-calendar'}
							include ../../components/UI/input/input
						.datepicker__inputs-item#datepicker_period
							- var inputArr = {label:false, placeholder:'', type:'text', id:'datepicker_period01', icon:'ic-calendar'}
							include ../../components/UI/input/input
							- var inputArr = {label:false, placeholder:'', type:'text', id:'datepicker_period02', icon:'ic-calendar'}
							include ../../components/UI/input/input

				.datepicker__container
					.datepicker__container__item#datepicker_day_container
					.datepicker__container__item#datepicker_period_container
				.datepicker__controls
					- var buttonArr = {text: 'Выбрать', id:'dapicker_select', style:'primary', type: 'button'}
					include ../../components/UI/button/button

block append bodyScripts
	script(src="../assets/js/vendors/moment.min.js")
	script(src="../assets/js/vendors/jquery.daterangepicker.min.js")
	script.
		$(function() {
			const datepicker_dropdown = $('#dp_wrapper');
			const datepicker_containers = $('.datepicker__container__item');
			const radioPeriod = $('input[name="dt_period"]');
			//const defaultView = $('input[name="dt_period"]:checked').val();

			const dateInput = $('#period');
			const selectBtn = $('#dapicker_select');

			const datepickerDay = $("#datepicker_day");
			const datepickerPeriod = $("#datepicker_period");
			const datepicker_input_containers = $('.datepicker__inputs-item');

			let VIEW = $('input[name="dt_period"]:checked').val() || 0;

			//Open/Close Datepicker Dropdown
			dateInput.parent().on('click', function(e) {
				e.preventDefault()
				datepicker_dropdown.toggleClass('isVisible');
				$(document).mouseup(function(e){
					if (
							!datepicker_dropdown.is(e.target) && 
							datepicker_dropdown.has(e.target).length === 0 && 
							dateInput.has(e.target).length === 0 
						){
							datepicker_dropdown.removeClass('isVisible');
						}
				})
			})
			
			//show Day mode or Period mode
			const setView = (view) => {
				$(datepicker_containers[view])
					.show()
					.siblings()
					.hide();
				
				$(datepicker_input_containers[view])
					.show()
					.siblings()
					.hide();
			}
			setView(VIEW);
			radioPeriod.on('change', function(e) {
				VIEW = $(this).val();
				setView(VIEW)
			})

			//init calendars
			datepickerDay.dateRangePicker({
				format: 'DD.MM.YYYY',
				separator: ' - ',
				language: 'ru',
				startOfWeek: 'monday',
				showTopbar: false,
				showShortcuts: false,
				hoveringTooltip: false,
				inline:true,
				container:'#datepicker_day_container',
				alwaysOpen:true,
				singleDate : true,
				singleMonth: true,
				time: {
					enabled: false
				},
				getValue: function() {
					return $(this).val();
				},
				beforeShowDay: function(t){
					var valid = !(t.getDay() == 0 || t.getDay() == 6);  //highlight saturday and sunday
					var _class = valid ? '' : 'weekend';
					return [true,_class,''];
				}
			});

			$('#datepicker_period').dateRangePicker({
				format: 'DD.MM.YYYY',
				//separator: ' - ',
				language: 'ru',
				startOfWeek: 'monday',
				showTopbar: false,
				showShortcuts: false,
				hoveringTooltip: false,
				inline:true,
				container: '#datepicker_period_container',
				alwaysOpen:true,
				time: {
					enabled: false
				},
				getValue: function() {
					if ($('#datepicker_period01').val() && $('#datepicker_period02').val() )
						return $('#datepicker_period01').val() + ' to ' + $('#datepicker_period02').val();
					else
						return '';
				},
				setValue: function(s,s1,s2) {
					$('#datepicker_period01').val(s1);
					$('#datepicker_period02').val(s2);
				},
				beforeShowDay: function(t){
					var valid = !(t.getDay() == 0 || t.getDay() == 6);  //highlight saturday and sunday
					var _class = valid ? '' : 'weekend';
					return [true,_class,''];
				}
			});
				

			// send data to main input
			selectBtn.on('click', function(e) {
				e.preventDefault();
				if (VIEW == 0) {
					dateInput.val(datepickerDay.val());
				} else {
					dateInput.val($('#datepicker_period01').val() + ' - ' +$('#datepicker_period02').val())
				}
				datepicker_dropdown.removeClass('isVisible');
			})
		})
		
